apiVersion: apps/v1
kind: Deployment
metadata:
  name: sandbox-deployment
  namespace: default
spec:
  replicas: 2
  selector:
    matchLabels:
      app: sandbox
  template:
    metadata:
      labels:
        app: sandbox
    spec:
      containers:
      - name: sandbox 
        image: ghcr.io/1sm1rk/sandbox:main
        ports:
        - containerPort: 8080
      imagePullSecrets:
      - name: regcred
---
apiVersion: v1
kind: Service
metadata:
  name: sandbox-service
  namespace: default
spec:
  ports:
    - name: http
      port: 8080
      targetPort: 8080
  selector:
    app: sandbox
