name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
    GITHUB_REGISTRY: ghcr.io
    DOCKER_IMAGE: ${{ github.repository }}
    DOCKER_BUILDKIT: 1
    DOCKER_CLI_AGGREGATE: 1
    
jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Login to GitHub Container Registry
      uses: docker/login-action@v3
      with:
       registry: ghcr.io
       username: ${{ github.actor }}
       password: ${{ secrets.GITHUB_TOKEN }}
    #- name: Build the Docker image
    #  run: docker build . --file Dockerfile --tag moonrat-sandbox:$(date +%s)
    #- name: login to ghcr.io
    #  run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login -u ${{ github.actor }} --password-stdin ${{ env.GITHUB_REGISTRY }}
    #- name: push image to  github
    #  run: docker push moonrat-sandbox:$(date +%s)
